<!DOCTYPE html>

<html>
	<head>
		<title>Grocer.io</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	</head>
	<body>
		<!-- Section: Design Block -->
		<section class=" text-center text-lg-start">
			<style>
			.rounded-t-5 {
				border-top-left-radius: 0.5rem;
				border-top-right-radius: 0.5rem;
			}
		
			@media (min-width: 992px) {
				.rounded-tr-lg-0 {
				border-top-right-radius: 0;
				}
		
				.rounded-bl-lg-5 {
				border-bottom-left-radius: 0.5rem;
				}
			}
			</style>
			<div class="card mb-3">
			<div class="row g-0 d-flex align-items-center">
				<div class="col-lg-4 d-none d-lg-flex">
				<img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
					class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
				</div>
				<div class="col-lg-8">
					<h2 class="card-title"> Login </h2>
				<div class="card-body py-5 px-md-5">
					
					<form>
					<!-- Email input -->
					<div class="form-outline mb-4">
						<input type="email" id="form2Example1" class="form-control" placeholder="name@example.com" />
						<label class="form-label" for="form2Example1">Email address</label>
					</div>
		
		
		
					<!-- Submit button -->
						<div class="col justify-content-center">
							<button type="button" class="btn btn-primary" onclick="login_user()">Login</button>
							<button type="button" class="btn btn-primary" onclick="new_user()">Create User</button>
						</div>
		
					</form>
		
				</div>
				</div>
			</div>
			</div>
		</section>
		<!-- Section: Design Block -->

		<script type="text/javascript" src="/rest.js"></script>
	</body>
</html>