<!DOCTYPE html>

<html>
	<head>
		<title>Grocer.io</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/simple.css">
	</head>
	<body>
		<h1 class="h1">Grocer.io</h1>
		<form>
			<label for="email">Email</label>
			<input type="text" id="email">
			<button type="button" onclick="login_button()">Login</button>
			<button type="button" onclick="new_user()">Create new user</button>
		</form>
		<script type="text/javascript" src="/rest.js"></script>
	</body>
</html>