<!DOCTYPE html>

<html>
	<head>
		<title>Grocer.io</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" media="print" onload="this.media='all'">
	</head>
	<body>


		<nav class="navbar sticky-top navbar-light bg-light">
			<a class="navbar-brand" href="#">
				Grocer.io 
				<span class='glyphicon glyphicon-shopping-cart' aria-hidden='true'></span>
			</a>
			<div class="navbar-nav">
				<span class='glyphicon glyphicon-shopping-cart' aria-hidden='true'></span>
				<a class="nav-item nav-link active btn btn-primary px-3 py--3 text-light" href="templates/index.html">
					Login 
					<span class="sr-only"></span>
				</a>
			</div>	
		</nav>

		<h1 class="h1">Grocer.io</h1>
		<table class="table table-light table-striped table-hover table-borderless">
			<tr>
				<td><strong>First Name</strong></td>
				<td id="fname">{{fname}}</td>
			</tr>
			<tr>
				<td><strong>Last Name</strong></td>
				<td id="lname">{{lname}}</td>
			</tr>
			<tr>
				<td><strong>Email</strong></td>
				<td id="email">{{email}}</td>
			</tr>
			<tr>
				<td><strong>Address</strong></td>
				<td id="address">{{address}}</td>
			</tr>
			<tr>
				<td><strong>City</strong></td>
				<td id="city">{{city}}</td>
			</tr>
			<tr>
				<td><strong>State</strong></td>
				<td id="state">{{state}}</td>
			</tr>
			<tr>
				<td><strong>Zip Code</strong></td>
				<td id="zipcode">{{zipcode}}</td>
			</tr>
			<tr>
				<td><strong>Order Day</strong></td>
				<td id="order_day">{{order_day}}</td>
			</tr>
			<tr>
				<td><strong>Order Method</strong></td>
				<td id="order_method">{{order_method}}</td>
			</tr>
		</table>
		<button class='btn btn-primary' onclick="view_cart()">View Cart</button>
		<button class='btn btn-primary' onclick="log_out()">Log Out</button>
		<button class='btn btn-primary' onclick="pair_button()">Pair Device</button>
		<p id="pairing_status"></p>
		<script type="text/javascript" src="/rest.js"></script>
	</body>
</html>