.stylish-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.stylish-table th, .stylish-table td {
    padding: 12px 15px;
}

.stylish-table thead tr {
  background-color: #449ee3;
  color: #ffffff;
  text-align: left;
}

.stylish-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.stylish-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.stylish-table tbody tr:last-of-type {
  border-bottom: 2px solid #449ee3;
}

a {
  color: #449ee3;
  text-decoration: none;
}
